---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import ContactForm from '~/components/ContactForm.tsx';
import FAQs from '~/components/widgets/FAQs.astro';
import SectionVideoRemodeling from '~/components/SectionVideoRemodeling.tsx';
/* import ContactUs from '~/components/widgets/Contact.astro'; */
import Slider from '~/components/Slider';
import SliderOffice from '~/components/SliderOffice';


const metadata = {
  title: 'Mallemo Trading LLC DBA Real Estate Focus',
  ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    id='home'
    
    image={{ src: '~/assets/images/hero-image.png', alt: 'house for remodeling' }}
  >
    <Fragment 
      slot="title">
      
      <span class="uppercase">Purchase of
      <span class="text-accent dark:text-white highlight"> a Dilapidated</span> House for Remodeling and New Home Construction.
      </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Incorporate</span> the latest trends and technologies in our remodeling to offer modern, efficient and high value-added properties.
      </span>
    </Fragment>
  </Hero>
  <span id="about"></span>


  <FAQs
    title='ABOUT US'
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        
        title: 'Mission',
        description:
          "To transform properties into exceptional homes, creating value for our clients through innovative and sustainable remodels that enhance quality of life and revitalize communities.",
      },
      {
        title: 'Vision',
        description:
          'To be a leading company in the renovation and sale of properties, recognized for our excellence in design, construction quality and ability to turn houses into desirable homes, contributing to urban development and the creation of more livable spaces.',
      },
      {
        title: 'Goals',
        description:
          "Quality in Remodeling: To ensure that each remodeled property meets the highest standards of quality, functionality and aesthetics, exceeding our clients expectations.",
      },
      {
        title: "Sustainable Growth",
        description:
          "Expand our presence in the real estate market through strategic acquisitions, while maintaining solid and sustainable financial growth.",
      },
      {
        title: 'Innovation in Design',
        description:
          " Incorporate the latest trends and technologies in our remodeling to offer modern, efficient and high-value-added properties.",
      },
      {
        title: 'Community Contribution',
        description:
          "Revitalize communities through the improvement of aging properties, contributing to the revaluation of urban areas and the creation of safer and more attractive environments.",
      },
    ]}
  />
  <span id="projects"></span>
   <br />
   <br />
   <br />
   <br />
   <br />
  <section class="mb-4" >
    
  <div>
    <SectionVideoRemodeling client:load />

  </div>
    <!-- agregar más contenidos según sea necesario -->
</section>


  <!-- Note Widget ******************* -->


  <!-- Features Widget *************** -->
   <Slider client:visible ></Slider>
   <span id="services"></span>
   <br />
  
<!-- Swiper -->
 
  <!-- Content Widget **************** -->
  <Content
    isReversed
    title="Mallemo is your guide in the remodeling of your home"
    items={[
      {
        title: 'Improves functionality',
        description:
          'You can reorganize spaces to better suit your current needs.',
      },
      {
        title: 'Increases property value',
        description:
          'Remodeling can increase your homes value, which can be beneficial if you decide to sell it in the future.',
      },
      {
        title: 'Improves safety',
        description:
          'You can update outdated electrical and plumbing systems, reducing the risk of accidents.',
      },
      {
        title: 'Enhances quality of life',
        description:
          'A renovated space can improve your overall well-being and happiness.',
      },
    ]}

    items2 = {
      [
      {
        title: 'Personalization: ',
        description:
          'Allowing you to create a living space that truly meets your needs.',
      },
      {
        title: 'Low maintenance: ',
        description:
          'Less maintenance than older homes, which can save you time and stress.',
      },
      {
        title: 'Technology: ',
        description:
          'New homes include the latest technology and connectivity.',
      },
      {
        title: 'Energy efficiency: ',
        description:
          'New homes are often more energy efficient.',
      },
      ]
    }
    
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Advantages of remodeling your house And also, of your new construction home</h3>
      
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  


  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->
   <span id="contact"></span>
<br />
<br />
<SliderOffice client:visible ></SliderOffice>
<div  class="mt-12 flex justify-center items-start flex-wrap">
  <ContactForm client:load />
  <!-- <ContactUs
  classes={{
    container: "py-0 lg:py-0"
    }
  }
    id="contact"
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
  /> -->
    <section class="custom-section-google-map relative not-prose scroll-mt-[72px]  h-full">

      <iframe class="" title="address map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3375.4059646934315!2d-110.81903072390907!3d32.220233912231166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86d66f4efe74628d%3A0x7f9026aaee4fa38f!2s8230%20E%20Broadway%20Blvd!5e0!3m2!1ses-419!2smx!4v1727295719986!5m2!1ses-419!2smx" width="100%"  style="height: 80vh;"
   allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
 
</div>


</Layout>


<script  src="src/assets/js/tabs.js"></script>
