
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .custom-section-google-map {
    display: flex;
    justify-content: center;
    width: 95%;
    margin-top: 10px;
  }

  @media (width > 800px) { 
    .custom-section-google-map {
      width: 50%;
    }
  }

  .tabs {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .tabs ul {
    display: flex;
    justify-content: center;
    width: 100%;
    
  }
  li > a.tab {
    margin: 5px;
    padding: 10px;
  }
  li > a.tab.active {
    background: #030620;
  }

  .tab-content {
    height: auto;
  }
  .tab-content > .content {
    display: none;
  }
  .tab-content > .content.show {
    display: flex;
  }